#menu-container, #tip, #about {
	margin-top: 3.5rem;
}

html.dark body {
	background-color: #41403e;
}

body {
	height: 100%;
}

#content h3 {
	margin-top: 0;
}

#tip {
	margin-left: 0;
}

#dm {
	display: flex;
	height: 100%;
	align-items: center;
}